.RecoomandUI {
    height: 510px;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    margin-bottom: 80px;
}
.RecoomandUI .recommand_h {
    margin-top: 100px;
    font-size: 48px;
    position: relative;
}
.RecoomandUI .recommand_h div:last-child {
    position: absolute;
    right: 0px;
    top: 40px;
    width: 220px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #aaa;
    font-size: 16px;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.2s;
    cursor: pointer;
}
.RecoomandUI .recommand_h div:last-child:hover {
    border: none;
    color: white;
    background-color: var(--main-color);
}
.RecoomandUI .small_char {
    font-size: 20px;
    font-weight: bold;
    color: #aaa;
}
.RecoomandUI .big_char {
    font-weight: bold;
}
.RecoomandUI > ul {
    display: flex;
    overflow-x: hidden;
}

@media all and (min-width:320px) and (max-width:479px) {
    .RecoomandUI {
        height: 1200px;
        width: 100%;
        max-width: 450px;
        margin: 0 auto;
        margin-bottom: 80px;
    }
    .RecoomandUI .recommand_h {
        font-size: 24px;
        margin-left: 10px;
    }
    .RecoomandUI .recommand_h div:last-child {
        width: 160px;
        font-size: 14px;
        top: 80px;
        left: 0px;
    }
    .RecoomandUI .small_char {
        font-size: 18px;
    }
    .RecoomandUI > ul {
        display: flex;
        flex-direction: column;
    }
}