.shop {
    background: url('/public/bg.jpg') center center/100% no-repeat;
    width: 100%;
    height: 1100px;
    position: relative;
    margin-top: -4px;
}
.shop .shop_p {
    color: white;
    padding-top: 100px;
    padding-left: 180px;
}
.large_p {
    font-size: 36px;
    font-weight: bold;
    margin: 40px 0;
}
.shop .shop_p div:last-child {
    width: 180px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #aaa;
    font-size: 16px;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.2s;
    margin-top: 50px;
}
.shop .shop_p div:last-child:hover {
    color: black;
    background-color: white;
    border: none;
}
.join_box {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    width: 1500px;
    height: 250px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.join_box li:first-child {
    width: 60%;
}
.join_box .inner_ul li:first-child {
    font-weight: bold;
    color: var(--main-color);
    font-size: 30px;
    padding-bottom: 20px;
}
.btn {
    font-size: 16px;
    width: 130px;
    background-color: var(--main-color);
    color: white;
    height: 35px;
    line-height: 35px;
    border-radius: 25px;
    text-align: center;
    transition: 0.2s;
    cursor: pointer;
}
.btn:hover {
    filter: brightness(150%);
}