.EditGoods {
    border-bottom: 1px solid #eee;
}
.EditGoods .trade_bg {
    width: 100%;
    height: 580px;
    overflow: hidden;
}
.EditGoods .trade_bg img {
    width: 100%;
    filter: brightness(90%);
}
.EditGoods .trade_header {
    position: relative;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}
.EditGoods .trade_header h1 {
    position: absolute;
    bottom: 60px;    
    color: white;
    font-size: 48px;
    font-weight: bolder;
}
.EditGoods .trade_header div {
    position: absolute;
    bottom: 24px;    
    color: black;
    font-size: 14px;
    width: 90px;
    height: 20px;
    padding-left:5px;
    background-color: rgba(255, 255, 255, 0.5);
}

.EditGoods .addform {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}
.EditGoods .add_table {
    width: 100%;
    /* margin: 0 auto; */
    margin-top: 80px;
}
.EditGoods .add_table th {
    background-color: #f6f6f6;
    text-align: left;
    width: 30%;
    height: 60px;
    color: #555;
    padding-left: 40px;
}
.EditGoods .add_table tr {
    border-bottom: 1px solid #eee;
}
.EditGoods .add_table td {
    padding-left: 40px;
}
.EditGoods .add_table tbody tr:first-child {
    border-top:  1px solid #ddd;
}
.EditGoods .add_table tbody tr:not(:nth-child(2)) input {
    margin-right: 40px;
    height: 32px;
    width: 300px;
    outline: none;
    border: 1px solid #ccc;
    padding-left: 10px;
    font-size: 15px;
    color: #444;
}
.EditGoods .form_btn {
    background-color: #333;
    border: none;
    color: #eee;
    width: 200px;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    margin-top: 60px;
    margin-bottom: 120px;
    cursor: pointer;
    transition: 0.3s;
}
.EditGoods .form_btn:hover {
    background-color: #111;
}
.EditGoods .btn_div {
    width: 100%;
    text-align: center;
}
.EditGoods textarea {
    margin: 15px 0;
    resize: none;
    height: 200px;
    width: 800px;
    outline: none;
    border: 1px solid #ccc;
    padding-left: 10px;
    font-size: 15px;
    color: #444;
    padding-top: 10px;
}
.imgDiv {
    margin: 15px 0;
    position: relative;
}
.EditGoods .imgBox {
    width: 400px;
    height: 500px;
    /* background-color: darkseagreen; */
    border: 1px solid #ccc;
    position: relative;
}
.EditGoods .imgBox .addimg {
    position: absolute;
    width: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.imgBox .addimg img {
    width: 100%;
}
.EditGoods .imgInput {
    position: absolute;
    width: 400px;
    height: 500px;
    left: 0;
    top: 0;
    opacity: 0;
}
.EditGoods .imgview {
    width: 400px;
    height: 500px;
    position: absolute;
    left: 0;
    top: 0;
}

#editInput {
    z-index: 10;
    opacity: 0;
}

#noInput {
    background-color: #eee;
}