.EditTrip {
    border-bottom: 1px solid #eee;
}
.EditTrip .edit_bg {
    width: 100%;
    height: 500px;
    overflow: hidden;
}
.EditTrip .edit_bg img{
    width: 100%;
    margin-top: -350px;
    transform: scaleX(-1);
}
.EditTrip .edit_header {
    position: relative;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}
.EditTrip .edit_header h1 {
    position: absolute;
    bottom: 60px;    
    color: white;
    font-size: 48px;
    font-weight: bolder;
}
.EditTrip .edit_header div {
    position: absolute;
    bottom: 24px;    
    color: white;
    font-size: 14px;
    width: 227px;
    height: 20px;
    padding-left:5px;
    background-color: rgba(0, 0, 0, 0.6);
}