.header2 {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    background-color: transparent;
    color: black;
    font-weight: bold;
    z-index: 50;
    position: relative;
}
.header2 .search_box {
    display: flex;
    align-items: center;
    letter-spacing: 1px;
}
.header2 .search_box li:first-child{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.header2 .search_box li:first-child img{
    width: 100%;
}
.header2 h1 {
    letter-spacing: 3px;
    margin-left: 179px;
    font-size: 26px;
    height: 40px;
}
.header2 h1 span {
    display:inline-block;
    width: 40px;
    /* background-color: antiquewhite; */
    padding-right: 5px;
    
}
.header2 h1 span img {
    width: 100%;
    margin-bottom: -3px;
}
.header2 .menu_box {
    display: flex;
    letter-spacing: 1px;
}
.header2 .menu_box li:not(:first-child){
    margin-left: 35px;
}