.join {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.join .joinform {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}
.join .joinform .small_menu {
    font-size: 14px;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 80px;
}
.join .joinform .small_menu span {
    margin: 0 3px;
}
.join .joinform .small_menu span:not(:last-child) {
    color: #999;
}
.join .joinform .small_menu span:last-child {
    font-weight: bold;
}
.join .joinform h1 {
    text-align: center;
    padding-bottom: 60px;
}
.join .joinform .join_table {
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 1px solid #eee;
}
.join .joinform .join_table th {
    background-color: #f6f6f6;
    text-align: left;
    width: 20%;
    height: 60px;
    color: #555;
    padding-left: 40px;
}
.small_span {
    color: #777;
    font-size: 14px;
    margin-left: -20px;
}
.join .joinform .join_table th span {
    display: inline-block;
    color:crimson;
    padding-left: 10px;
}
.join .joinform .join_table tbody tr td {
    padding-left: 40px;
}
.join .joinform .join_table tbody tr td input {
    margin-right: 40px;
}
.join .joinform .join_table tbody tr td {
    /* display: block; */
    accent-color: black;
    width: 20px;
}
.join .joinform h1:nth-child(4), .join .joinform h1:nth-child(6) {
    text-align: left;
    font-size: 26px;
    padding-top: 60px;
    padding-bottom: 30px;
}
.join .joinform table:nth-child(5) tr{
    border-bottom: 1px solid #eee;
}
.join .joinform table:nth-child(5) tr input {
    height: 32px;
    width: 300px;
    outline: none;
    border: 1px solid #ddd;
    padding-left: 10px;
    font-size: 15px;
    color: #444;
}
.join .joinform table:nth-child(7) tr td input{
    height: 32px;
    width: 150px;
    outline: none;
    border: 1px solid #ddd;
    padding-left: 10px;
    font-size: 15px;
    color: #444;
    margin-right: 10px;
}
.join .joinform table:nth-child(7) tr td input:not(:first-child) {
    margin-left: 10px;
    width: 100px;
}
.join .joinform .form_btn {
    background-color: #333;
    border: none;
    color: #eee;
    width: 200px;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    margin-top: 100px;
    margin-bottom: 200px;
    cursor: pointer;
    transition: 0.3s;
}
.join .joinform .form_btn:hover {
    background-color: #111;
}
.join .joinform .btn_div {
    width: 100%;
    text-align: center;
}
.postCode_btn {
    position: absolute;
    top: 82%;
    left: 61.5%;
    width: 80px;
    height: 26px;
    line-height: 26px;
    border: none;
    background-color: #666;
    color: white;
    cursor: pointer;
}
.search_Add input {
    margin: 8px 0;
}
.search_Add input:nth-child(1){
    margin-top: 14px;
}
.white_btn {
    margin-left: -30px;
    height: 32px;
    width: 100px;
    background-color: white;
    border: 1px solid #ddd;
    color: #444;
    cursor: pointer;
}
.join .joinform table:nth-child(5) tr:nth-child(5) input:first-child {
    width: 160px;
}
.search_Add input:nth-child(3) {
    display: block;
}
.join .joinform table:nth-child(5) tr:nth-child(5) input:nth-child(3) {
    width: 600px;
}
.search_Add input:nth-child(4) {
    margin-bottom: 14px;
}
.join .joinform table:nth-child(5) tr:nth-child(5) input:nth-child(4) {
    width: 600px;
}
#doubleCk {
    margin-right: 40px;
    /* margin-left: -50px; */
    padding-top: 5px;
    padding-bottom: 6px;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
}