.AddTrip {
    border-bottom: 1px solid #eee;
}
.AddTrip .add_bg {
    width: 100%;
    height: 500px;
    overflow: hidden;
}
.AddTrip .add_bg img{
    width: 100%;
    margin-top: -350px;
    transform: scaleX(-1);
}
.AddTrip .add_header {
    position: relative;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}
.AddTrip .add_header h1 {
    position: absolute;
    bottom: 60px;    
    color: white;
    font-size: 48px;
    font-weight: bolder;
}
.AddTrip .add_header div {
    position: absolute;
    bottom: 24px;    
    color: white;
    font-size: 14px;
    width: 161px;
    height: 20px;
    padding-left:5px;
    background-color: rgba(0, 0, 0, 0.6);
}
#edit_header div {
    width: 228px;
}
.AddTrip .addform {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}
.AddTrip .add_table {
    width: 100%;
    /* margin: 0 auto; */
    margin-top: 80px;
}
.AddTrip .add_table th {
    background-color: #f6f6f6;
    text-align: left;
    width: 30%;
    height: 60px;
    color: #555;
    padding-left: 40px;
}
.AddTrip .add_table tr {
    border-bottom: 1px solid #eee;
}
.AddTrip .add_table td {
    padding-left: 40px;
}
.AddTrip .add_table tr:not(:first-child):not(:last-child) td input {
    margin-right: 40px;
    height: 32px;
    width: 300px;
    outline: none;
    border: 1px solid #ccc;
    padding-left: 10px;
    font-size: 15px;
    color: #444;
}
.AddTrip .add_table tbody tr:first-child {
    border-top:  1px solid #ddd;
}
.AddTrip .add_table tbody tr:first-child input {
    border: none;
}
.AddTrip .form_btn {
    background-color: #333;
    border: none;
    color: #eee;
    width: 200px;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    margin-top: 60px;
    margin-bottom: 120px;
    cursor: pointer;
    transition: 0.3s;
}
.AddTrip .form_btn:hover {
    background-color: #111;
}
.AddTrip  .btn_div {
    width: 100%;
    text-align: center;
}
.AddTrip textarea {
    margin: 15px 0;
    resize: none;
    height: 200px;
    width: 800px;
    outline: none;
    border: 1px solid #ccc;
    padding-left: 10px;
    font-size: 15px;
    color: #444;
    padding-top: 10px;
}
.imgDiv {
    margin: 15px 0;
    position: relative;
}
.imgBox {
    width: 550px;
    height: 300px;
    /* background-color: darkseagreen; */
    border: 1px solid #ccc;
    position: relative;
}
.imgBox .addimg {
    position: absolute;
    width: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.imgBox .addimg img {
    width: 100%;
}
.imgInput {
    position: absolute;
    width: 550px;
    height: 300px;
    left: 0;
    top: 0;
    opacity: 0;
}
.imgview {
    width: 550px;
    height: 300px;
    position: absolute;
    left: 0;
    top: 0;
}

#editInput {
    z-index: 10;
    opacity: 0;
}

#noInput {
    background-color: #eee;
}
.createMap {
    width: 180px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #aaa;
    font-size: 16px;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.2s;
    margin-left: 20px;
}
.createMap:hover {
    border: none;
    color: white;
    background-color: var(--main-color);
}
.flextd {
    display: flex;
    align-items: center;
}
.exp {
    font-size: 14px;
    margin-left: 20px;
    margin-top: 5px;
}

@media all and (min-width:320px) and (max-width:479px) {
    .AddTrip .add_bg {
        height: 320px;
        width: 100%;
        overflow: hidden;
    }
    .AddTrip .add_bg img{
        width: 100%;
        height: 100%;
        margin-top: 0px;
        object-fit: cover;
        filter: brightness(70%);
    }
    .AddTrip .add_header {
        position: relative;
        width: 100%;
        max-width: 340px;
        margin: 0 auto;
    }
    .AddTrip .add_header h1 {
        font-size: 28px;
    }
    .AddTrip .add_header div {
        font-size: 12px;
        width: 140px;
        height: 16px;
        line-height: 16px;
    }
    #edit_header div {
        width: 228px;
    }
    .AddTrip .addform {
        width: 100%;
        max-width: 340px;
        margin: 0 auto;
    }
    .AddTrip .add_table {
        width: 100%;
        /* margin: 0 auto; */
        margin-top: 60px;
    }
    .AddTrip .add_table th {
        padding-left: 10px;
    }
    .AddTrip .add_table td {
        padding-left: 10px;
    }
    .AddTrip .add_table tr:not(:first-child):not(:last-child) td input {
        margin-right: 0px;
        width: 220px;
    }
    .AddTrip .form_btn {
        width: 150px;
    }
    .AddTrip textarea {
        width: 220px;
    }
    .imgDiv {
        margin: 15px 0;
        position: relative;
    }
    .imgBox {
        /* margin-left: 10px; */
        width: 220px;
        height: 150px;
    }
    .imgBox .addimg {
        position: absolute;
        width: 80px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .imgBox .addimg img {
        width: 100%;
    }
    .imgInput {
        position: absolute;
        width: 220px;
        height: 150px;
        left: 0;
        top: 0;
        opacity: 0;
    }
    .imgview {
        width: 220px;
        height: 150px;
        position: absolute;
        left: 0;
        top: 0;
    }
    .createMap {
        width: 160px;
        margin-left: 10px;
    }
    .flextd {
        display: unset;
    }
    .exp {
        font-size: 14px;
        margin-left: 20px;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    #imgBox2 {
        margin-left: 10px;
    }
    #imgInput2 {
        margin-left: 10px;
    }
}