.destination {
    border-bottom: 1px solid #eee;
}
.destination .des_header {
    position: relative;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}
.destination .des_bg img {
    width: 100%;
    filter: brightness(80%);
}
.destination .des_header h1 {
    position: absolute;
    bottom: 60px;    
    color: white;
    font-size: 48px;
    font-weight: bolder;
}
.destination .des_header div {
    position: absolute;
    bottom: 24px;    
    color: white;
    font-size: 14px;
    width: 281px;
    height: 20px;
    padding-left:5px;
    background-color: rgba(0, 0, 0, 0.6);
}
.destination .des_box {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
}
.destination .des_box .des_search {
    height: 180px;
}
.destination .des_box input {
    width: 1000px;
    height: 50px;
    margin-top: 80px;
    font-size: 20px;
    padding-left: 10px;
    border: 1px solid #ddd;
    color:  var(--main-color);
}
.destination .des_box input:focus {
    outline: 1px solid var(--main-color);
    color:  var(--main-color);
}
.destination .des_box .des_search {
    position: relative;
}
.destination .des_box .des_search  button {
    outline: none;
    border: none;
    background-color: transparent;
}
.destination .des_box .des_search img {
    position: absolute;
    width: 25px;
    height: 25px;
    bottom: 63px;
    right: 610px;
    cursor: pointer;
}
.destination ul {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.addTrip {
    position: absolute;
    top: 92px;
    right: 0;
    width: 220px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #aaa;
    font-size: 16px;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.2s;
}
.addTrip:hover {
    border: none;
    color: white;
    background-color: var(--main-color);
}
#alldes {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    margin-bottom: 60px;
    display: block;
    color: var(--main-color);
}