.event_li {
    width: 33%;
    margin-bottom: 5px;
}
.event_li:not(:nth-child(3n)) {
    margin-right: 0.5%;
}
.event_li img {
    width: 100%;
    transition: 0.3s;
    height: 100%;
}

.event_li .small_char {
    font-size: 16px;
    font-weight: bold;
    color: #555;
    margin-top: 20px;
    margin-bottom: 3px;
}
.event_li .big_char {
    font-weight: bold;
    font-size: 24px;
    color: black;
}
.des_li:hover .big_char{
    text-decoration: underline;
}
.li_img {
    position: relative;
    transition: 0.3s;
    overflow: hidden;

}
.goBig {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    opacity: 0;
    transition: 0.3s;
}
.li_img:hover #pic_ul{
    bottom: 0px;
}
#pic_ul {
    /* justify-content: space-around; */
    align-items: center;
    position: absolute;
    bottom: -30px;
    color: white;
    background-image: linear-gradient(to top, #fff, rgba(0, 0, 0, 0.4) 4%, transparent);
    padding-top: 10px;
    padding-bottom: 5px;
    transition: 0.3s;
    overflow: hidden;
}

#pic_ul li {
    font-size: 18px;
    padding-left: 20px;
}
#pic_ul span {
    display: inline-block;
    margin-left: 12px;
    /* font-size: 25px; */

}