.event_li {
    width: 33%;
    height: 300px;
    overflow: hidden;
    position: relative;
    transition: 0.3s;
    margin-bottom: 10px;
}
.event_li:not(:nth-child(3n)) {
    margin-right: 0.5%;
}
.event_li img {
    width: 100%;
    transition: 0.3s;
    height: 100%;
}

.event_li .small_char {
    font-size: 16px;
    font-weight: bold;
    color: #555;
    margin-top: 20px;
    margin-bottom: 3px;
}
.event_li .big_char {
    font-weight: bold;
    font-size: 24px;
    color: black;
}
.li_img:hover #pic_ul{
    bottom: -125px;
}
#pic_ul {
    bottom: -200px;
    position: absolute;
    color: white;
    padding-top: 2px;
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.3);
}
#pic_ul li {
    font-size: 18px;
    padding-left: 20px;
}
#pic_ul span {
    display: inline-block;
    margin-left: 12px;
    /* font-size: 25px; */
}