.cart_tr {
    border-bottom: 1px solid #ccc;
}
.cart_tr td{
    width: 20%;
}
.cart_tr td div{
    min-width: 100px;
    padding: 10px;
}
.cart_tr img {
    width: 100%;
    border-radius: 25px;
}
.cart_tr td:last-child {
    cursor: pointer;
}